flake8
ipdb
ipython
pytest>=4.6
pytest-cov
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx_rtd_theme
versioneer
cx-oracle
pyodbc
psycopg2-binary
twine
wheel